db:
  container_name: mysqlTestDB
  image: mysql:latest
  restart: always
  ports:
    - "3306:3306"
  environment:
    - MYSQL_ROOT_PASSWORD=pa55w0rd
    - MYSQL_DATABASE=test_db
  volumes:
    - /home/pecho/go/bin/test_db.sql:/test_db/test_db.sql
